body{
	background-image:url("./img/tree_bark.png");
	font-family:微軟正黑體;
}

#hwlist{
	position:relative;
	top:400px;
	font-family:MV Boli;
	font-size:30px;
	text-align:center;
}

a{
	text-decoration:none;
	display:block;
	width:150px;
}

a:link{color:brown}
a:visited{color:purple}


ul{
	list-style-type:none;
}

li{
	float:left;
}