body{
	background-image:url("./img/black.png");
	font-family: 'Poiret One', cursive;
}

#header{
	margin-top:2%;
	margin-bottom:1%;
	font-size:40px;
	font-weight:bold;
	color:white;
	text-align:center;
}

#gameboard{
	margin:0 0 0 0;
	position:relative;
	top:2%;
	left:20%;
	width:420px;
	float:left
}

#sideblock{
	margin:12% 0;
	position:relative;
	left:25%;
	width:500px;
	float:left;	
}

#message{
	font-size:32px;
	font-weight:bold;
	color:white;
	height:40px;
}

#time{
	font-size:28px;
	font-weight:bold;
	color:white;
}

#timeCost{
	width:100px;
	text-align:right;

}
.card{
	width: 100px;
	height:125px;
}

.btn{
	width:150px;
	font-family: 'Poiret One', cursive;
	font-size:28px;
	font-weight:bold;
	text-align:center;
}